body{
  background-color: rgba(248, 233, 13, 0.522);
    font-size:18px;
    font-family:Tahoma; 
    color:gray;
}
img[alt="i7"],[alt="Torre"],[alt="placa base"],[alt="Memoria ram"],[alt="Ventilador cpu"],[alt="Disc dur HDD"],
   [alt="Disc dur SSD"],[alt="Font"],[alt="GPU"],[alt="pantalla philips IPS 24"],[alt="Teclat + ratoli"],[alt="tableta grafica HUION Kamvas 20 "]{
     height:  150px;
     border: solid 5px gray;
}
/*table {
  width: 80%;
  border: solid 5px gray;
  border-radius: 10px;
  background-color: aliceblue;
  padding: 35px;
}*/
h1 {
  border: solid  rgb(7, 222, 250);
  border-width: 7px;
  border-radius: 15px;
  border-color: #4400cc;
  padding: 30px;
  text-align:center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  
}
h2 { 
  border: 4px solid powderblue;
  padding: 30px;
  color:#4400cc;
  font-family:aria;  
  font-size:30px;
  
}
h3 {
    color:black;
    font-size:20px;
    padding: 20px;
}
h4 {
    color:black
}
